doctype html
html
  head
    title= employeeX
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/global.js')
    script( src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' )
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")